<div class="container">
    <h3 mat-dialog-title *ngIf="flag == 1">Dodavanje proizvodjaca</h3>
    <h3 mat-dialog-title *ngIf="flag == 2">Modifikacija proizvodjaca: {{dataDialog.naziv}}</h3>
    <h3 mat-dialog-title *ngIf="flag == 3">Brisanje proizvodjaca: {{dataDialog.naziv}}</h3>

    <form class="mat-dialog-content" #formControl="ngForm">
      <div class="form">
        <mat-form-field>
          <input matInput placeholder="Naziv" [(ngModel)]="dataDialog.naziv" name="naziv" [disabled]="flag == 3" required>
        </mat-form-field>
      </div>
  
      <div class="form">
        <mat-form-field>
          <input matInput placeholder="Adresa" [(ngModel)]="dataDialog.adresa" name="adresa" [disabled]="flag == 3" required>
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field>
          <input matInput placeholder="Kontakt" [(ngModel)]="dataDialog.kontakt" name="kontakt" [disabled]="flag == 3" required>
        </mat-form-field>
      </div>

      <div mat-dialog-actions>
        <button mat-button *ngIf="flag == 1" type="submit" [mat-dialog-close]="1" (click)="addProizvodjac()" [disabled]="!formControl.valid">Sačuvaj</button>
        <button mat-button *ngIf="flag == 2" type="submit" [mat-dialog-close]="1" (click)="updateProizvodjac()" [disabled]="!formControl.valid">Sačuvaj</button>
        <button mat-button *ngIf="flag == 3" type="submit" [mat-dialog-close]="1" (click)="deleteProizvodjac()">Obriši</button>
        <button mat-button (click)="cancel()">Poništi</button>
      </div>
    </form>
  </div>